:global(#sim-urna) .controls {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 calc(var(--unit) * 4) calc(var(--unit) * 8);
  top: calc(var(--unit) * -1);
  position: relative;
}
