:global(#sim-urna) .container {
  --person-width: calc(var(--thumb-width) - 2px);
  --person-height: calc(var(--thumb-height) - 2px);

  display: block;
  height: var(--person-height);
  width: var(--person-width);
  background-color: transparent;
  position: relative;
  overflow: hidden;

  span {
    display: block;
    position: absolute;
  }

  span:nth-child(2) {
    display: block;
    background-color: #cfcfcf;
    border-radius: 50%;
    left: calc(var(--person-width) * 0.25);
    top: calc(var(--person-height) * 0.075);
    width: calc(var(--person-width) * 0.5);
    height: calc(var(--person-width) * 0.5);
  }

  span:nth-child(3) {
    display: block;
    background-color: #999999;
    height: 80%;
    width: 90%;
    bottom: -35%;
    left: 5%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
  }
}
