.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--unit-v-0) 0;
  flex-wrap: wrap;
  width: 100%;
  border-radius: var(--unit-v-0);
  background-color: var(--background-dark);

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;

    > :nth-child(1) {
      margin-left: 0;
    }
  }

  button {
    display: flex;
    padding: 12px;
    margin: 0 4px 4px 0;
    border-radius: 4px;
    background-color: var(--background-dark);
    color: var(--text-lighter);
    align-items: center;

    > svg {
      margin: 0px 0 0 2px;
      fill: var(--text-lighter);
    }
  }

  button.selected {
    background-color: var(--background-light);
    color: var(--text-alt);

    span {
      color: var(--text-alt);
    }

    svg {
      fill: var(--text-alt);
    }
  }

  &.radio {
    > div:nth-child(1) .selected {
      color: var(--text-secondary);

      span {
        color: var(--text-secondary);
      }

      svg {
        fill: var(--text-secondary);
      }
    }
  }

  &.icon {
    button {
      position: relative;

      svg {
        position: absolute;
        right: 2px;
        top: 4px;
      }
    }
  }
}
