.container {
  display: flex;
  align-items: center;
  margin: 48px auto 32px;
  width: 80%;

  h6 {
    margin: 0 12px;
    text-transform: uppercase;
    color: var(--background-lighter);
  }

  hr {
    display: flex;
    flex: 1;
    border: none;
    height: 0;
    border-bottom: 1px solid var(--background-lighter);
  }
}
