.container {
  max-width: 1480px;
  margin: 0 auto;
  width: 100%;

  > section {
    &:nth-last-child(1) {
      margin-bottom: 0px;
    }
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.padding {
  padding-left: 32px;
  padding-right: 32px;
}
