.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4001;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: block;
  text-align: center;

  h3 {
    margin-top: var(--unit-xxl);
    margin-bottom: var(--unit-s);
  }
  small {
    font-family: 'Courier New', Courier, monospace;
  }
}
