.hidden {
  visibility: hidden !important;
}

.thumb_invalid {
  background-color: #fafafa;
  height: var(--thumb-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: #333333;
}

.thumb_nulo:before {
  content: "N";
}

.thumb_branco:before {
  content: "B";
}

.thumb_legenda {
  path {
    fill: #cacaca;
  }
}

.image {
  object-fit: cover;
  border: 1px solid var(--black);
}

.thumb {
  text-align: center;
  justify-content: space-between;

  --thumb-width: calc(var(--unit) * 40);
  --thumb-height: calc(var(--thumb-width) * 1.1);

  > div {
    border: 1px solid var(--dark-grey);
    width: var(--thumb-width);
    background-color: var(--white);

    > div {
      padding: var(--unit) calc(var(--unit) / 2);
    }
  }

  p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  svg {
    width: 100%;
    height: var(--thumb-height);
    object-fit: cover;
    display: block;
    background-color: #fafafa;
  }

  &.thumb_medium {
    --thumb-width: calc(var(--unit) * 30);
  }

  &.thumb_small {
    --thumb-width: calc(var(--unit) * 14);
  }
}

.hr {
  height: 0;
  margin: 0;
  border-width: calc(var(--unit) / 4);
  border-color: var(--black);
  position: relative;
}

.inputs {
  display: flex;
}

.title {
  > h2 {
    text-align: center;
  }
}

.voto {
  display: flex;
  padding: calc(var(--unit) * 5);
  border: 1px solid var(--dark-grey);
  background-color: var(--white);

  &.small {
    padding: calc(var(--unit) * 2);

    .voto__candidate {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: var(--unit) 0;

      > * {
        margin-right: calc(var(--unit) * 2);
      }
    }

    .voto__content {
      text-align: left;
    }

    .voto__number {
      margin-bottom: 0;

      h2 {
        text-transform: uppercase;
      }
    }
  }

  > div:nth-child(1) {
    display: block;
    margin-right: calc(var(--unit) * 4);
  }
}

.voto__content {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-around;
  flex: 1;
  overflow: hidden;

  > :nth-last-child(1) {
    margin-bottom: 0;
  }
}

.voto__info {
  > h2,
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.voto__extra {
  > :nth-child(1) {
    margin-bottom: var(--unit);
  }
}

.voto__number {
  margin-bottom: calc(var(--unit));
}

.voto__candidate {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: calc(var(--unit) / 2);
  }
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.warning {
    > div:nth-child(1) {
      width: 100%;
      text-transform: uppercase;
    }
  }

  &.alert {
    animation: blink-animation 2000ms infinite;

    p {
      text-transform: uppercase;
    }
  }

  &.floating {
    position: absolute;
    right: calc(var(--unit));
    bottom: calc(var(--unit) / 2);
    margin: 0;
  }

  &.line__small {
    height: calc(var(--unit) * 9);
    margin-bottom: calc(var(--unit) * 2);

    > div:nth-child(1) {
      min-width: calc(var(--unit) * 28);
    }
  }
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--unit) * 22);
  width: calc(var(--unit) * 18);
  border: 1px solid var(--black);
  margin-right: calc(var(--unit) / 2);
  background-color: var(--white);
}

.input_light {
  border: 1px solid var(--grey);
  background-color: transparent;
}

.input_cursor {
  border: 1px solid var(--black);
  background-color: var(--white);

  animation: blink-animation 800ms infinite;

  p {
    color: var(--grey) !important;
  }
}

@keyframes blink-animation {
  0% {
    border-color: rgba(0, 0, 0, 0.25);
  }
  33% {
    border-color: rgba(0, 0, 0, 1);
  }
  66% {
    border-color: rgba(0, 0, 0, 0.25);
  }
  100% {
    border-color: rgba(0, 0, 0, 0.25);
  }
}

.spacer {
  height: var(--unit);
  width: var(--unit);
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 12px;
  }
}
