.container {
  display: block;
}

.logs {
  min-height: 200px;
}

.restartButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(--unit-v-1);
  padding-bottom: var(--unit-v-1);
}
